/* LOAD IN THE CUSTOM FONTS */
@font-face {
	font-family: 'Roboto Condensed', sans-serif;
	font-family: 'Source Sans Pro', sans-serif;
	font-family: 'parisian';
	src:url("../fonts/parisr.eot?#iefix") format("embedded-opentype"),
		url("../fonts/parisr.woff") format("woff"),
		url("../fonts/parisr.ttf") format("truetype"),
		url("../fonts/parisr.svg#roboto_slabbold") format("svg");
	font-weight: normal;
	font-style: normal;
}

header, footer, nav, section, article, main, aside { 
	display: block;
}

/* MAIN STYLE OVERRIDES FROM DEFAULT*/
html, body, p, h1, h2, h3, h4, h5, h6, ul, li, figure, figcaption, form, fieldset, label, legend, table, td, th, caption {
	margin: 0;
	padding: 0;
	font-size: 100%;	
}

img {
	border:none;
}

ul, ol {
	list-style-type: none;
}

body {
	color: #000000; 
	font-family: Source Sans Pro, Verdana, Geneva, sans-serif;	
	background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {	
	color: #236841; 
	font-weight: normal;
	font-family: 'Roboto Condensed', Georgia, serif;
}

h2 {
	font-size: 2em;
	margin-bottom: 20px;
	margin-top: 20px;
}

h3 {
	font-size: 1.6em;
}

a:link, a:visited {
	color: #236841;
}
a:hover, a:focus {
	color: #000000;
}

/* STLYE THE PAGE FORM PROPERTIES */
textarea, input, select, option {
	color: #04080b; 
	font-family: Source Sans Pro, Verdana, Geneva, sans-serif;	
	font-size: 0.875em;
}

form {
	width: 65%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;

}

/* PAGE LABEL PROPERTIES */
label {
	font-weight: bold;
	width: 40%;
	float: left;
}

label span{
	color: #ff0000;
}

fieldset {
	padding: 20px;
	border: 1px solid #ced6e0;
	box-shadow: 10px 9px 5px #CCC;
}

textarea {
	height: 8em;
}

textarea, input[type=text], input[type=email] {
	width: 55%;
}

legend {
	color: #236841;
	font-family: 'Roboto Condensed', Georgia, serif;
	font-size: 1.5em;
}

.form-control {
	color: #236841;
	padding-bottom: 20px;	
	clear: left;
}

/* MAIN SITE STYLES */
#page{
	margin: 0 auto;
	overflow: hidden;
}

#main-body {
	width: 80%;
	margin: 0 auto;
	padding-top: 15px;	
}

@media screen and (max-width: 780px){
	#main-body { 
		width: 98%;
	}
}

/* SITE TOP LINKS BAR */
ul.top-links-bar {
	float: right;
	padding: 10px 5px 5px 5px;
}

@media screen and (max-width: 780px){
	ul.top-links-bar { 
		display: none;
	}
}

ul.top-links-bar li {
	float: left;
	margin-right: 1em;
	padding-right: 1em;
	border-right: 1px solid #cad2db;
	
   
}
ul.top-links-bar li:last-child {
	padding-right: 0;
	margin-right: 0;
	border: none;
	
}
ul.top-links-bar a:link, #top-links-bar a:visited {
	color: #236841;
	text-decoration: none;
}
#top-links-bar a:hover {
	color: #000000;
}


/* PAGE HEADER ELEMENTS */
#top-inner{
	margin: 0 auto;
	width: 80%;
}

@media screen and (max-width: 780px){
	#top-inner { 
		width: 98%;
	}
}

#header{
	background-color: #ffffff;
}

#header img{
	float:left;
}

#header-inner{
	width:80%;
	margin: 0 auto;
}

@media screen and (max-width: 780px){	
	#header-inner{
		width: 98%;
	}
}

#wrapper{
	padding-left: 1em;
	padding-right: 1em;
}

#site-page-header {
	overflow: hidden;
}

#navbar-wrap{
	background-color: #ffffff;
	border-top: 1px solid #ced6e0;
	border-bottom: 1px solid #ced6e0;
}

#navbar-inner{
	width:80%;
	margin: 0 auto;
}

@media screen and (max-width: 780px){
	#navbar-inner{ 
		width: 98%;
	}
}

.clear{
	clear:both;
}

#title{
	float:left;
	margin: 15px 15px 15px 185px;
}

.header-container{
	margin: 0 auto;
	max-width:100%;
	background-repeat: no-repeat;
	background-position: left top;
}

#site-page-header h1 {
	font-family: 'parisian';
	font-size: 4.1em;
	text-shadow: 1px 1px 0 #ced6e0;
	color: #236841;
	float: left;
}

#site-page-header span {	
	font-size: .5em;
	color: #000000;
}


#site-page-header img{
	max-width: 100%;
	padding-top: 15px;
}

#navbar{
	margin: 0 auto;
}

#secondary li.current-page{
	background-color: #236841;
	color: #ffffff;
}

li.current-page{
	background-color: #e6e6e6;
}


.current, li.current {
	text-decoration: underline;
}

/* SITE HEADER PROPERTIES */
#site-page-header nav li {
	float: left;
	font-family: 'Roboto Condensed', Georgia, serif;
	font-size: 1.5em;

}

#site-page-header nav li:last-child {
	margin-right: 0;	
}

#site-page-header nav li a {
	float: left;
	display: block;
	text-decoration: none;
	padding: 0.30em 0.85em 0.380em 0.85em;
	border-left: 1px solid #ffffff;	
	-webkit-transition:background-color 200ms linear;
	-moz-transition:background-color 200ms linear;
	-o-transition:background-color 200ms linear;
	-ms-transition:background-color 200ms linear;
	transition:background-color 200ms linear;
}

#site-page-header nav li a:focus, 
#site-page-header nav li a:hover {	
	color: #236841;
	background-color: #ffffff;
	border-left: 1px solid #ffffff;
	-webkit-transition:background-color 250ms linear;
	-moz-transition:background-color 250ms linear;
	-o-transition:background-color 250ms linear;
	-ms-transition:background-color 250ms linear;
	transition:background-color 250ms linear;
}

#site-page-header nav li a:hover:first-child{
	background-color: #236841;
	color: #ffffff;
}

/* MAIN PAGE BREADCRUMBS - USE THE MANDATORY FONT*/
#main-breadcrumbs {
	font-size: 1em;
	font-family: parisian, Georgia, serif;	
	font-style: italic;
	border-bottom: solid 1px #ced6e0;
	padding-top: 15px;
	padding-bottom: 15px;
}

/* SITE INTRO TEXT */
#intro h1{
	font-size: 2.5em;
	padding-bottom: 0.5em;
}

#contact-section a {
	color: #ffffff;
}


/* PORTRAIT IMAGE PROPERTIES - LEFT AND RIGHT ALIGNED */
.left{
	width:33%;
	float:left;
	height: auto;	
}

.left img{
	height: auto;
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.left figcaption{
	font-family: parisian, Georgia, serif;
	text-align: center;
	background-color: #757575;
	color: #ffffff;
}

.right{
	width:33%;
	float:right;
	height: auto;	
}

 .right img{
	height: auto;
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

 .right figcaption{
	font-family: parisian, Georgia, serif;
	text-align: center;
	background-color: #757575;
	color: #ffffff;
}


/* INTRO ALTERNATING IMAGES */
.img-left{
	float:left;
	padding:0px 20px 10px 0px;
}

.img-right{
	float:right;
	padding:0px 20px 10px 0px;
}

.img-portrait{
	width: 66%;
	background-color: #4c4c4c;
	padding: 1em;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 35px;
}

/* IMAGE OF THE MONTH PROPERTIES */
.img-botm img{
	float:left;
	padding:10px;
}
figure.img-botm{
	padding-bottom: 35px;
}

/* HOME PAGE CONTAINER PROPERTIES */
.books-container, 
.video-container{
	padding: 22px 0px 30px;
	background-color: #ffffff;
	height: auto;
	border-bottom: solid 1px #ced6e0;
	border-top: solid 1px #ced6e0;
}

.books-container p{
	margin-bottom: 1em;
}

.books-container article{
	max-width:100%;
	float: none;
}
.video-container .inner{
	width:70%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.video-figure figcaption {
	display: block;	
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background-color: #ced6e0;
}

#books-showcase{
	width:95%;
	border-radius: 0.200em;
	margin-bottom: 2em;
	padding-bottom: 1em;
	padding-top: 1em;
}

#books-showcase img{	
	height: auto;
	margin: auto;
	max-width: 100%;
}


#site-page-header nav li.currentpage a {
	background-color: #ffffff;
	color: #236841;
	border-left: 1px solid #236841;
}

/* VIDEO MEDIA PROPERTIES */
video{
	width: 100%; 
	height: auto
}

/* SITE MAIN PAGE FOOTER */
#main-page-footer {
	clear: both;
	padding: 1em 0 1em 0.3em;
	background-color: #ffffff;
	line-height: 1.25em;	
	font-size: 0.85em;
	overflow: hidden;
	border-top: 2px solid #ced6e0;
	border-bottom: 2px solid #ced6e0;
}

#page-footer-inner{
	width: 80%;
	margin: 0 auto;
}

/* DEFITIONS FOR THE PAGE COLUMNS */
/* COL 1 */
#col-1 {
	padding: 0 0 0 0;
}

#col-1 #content {
	float: left;
	width: 72%;
	padding-right: 30px;	
}

#main-page-footer p {
	float: right;
}

#main-page-footer ul {
	float: left
}

#main-page-footer li {
	float: left;
	padding-right: 1em;
	margin-right: 1em;
	border-right: 1px solid #cad2db;
}

#main-page-footer li:last-child {
	padding-right: 0;
	margin-right: 0;
	border: none;
}

#main-page-footer a:link,
#main-page-footer a:visited {
	color:#236841;
	text-decoration: none;
}

/* COL 2 */
#col-2 {
	width: 25%;
	float: left;
	color: #ffffff;
	margin-top: 45px;
	background-color: #4c4c4c;
}

#col-2 nav,
#col-2 section {
	color: #d4d4d4;
	padding: 1em 1em 0 1em;
}

#col-2 h2 {
	color: #d4d4d4;
	font-size: 1.25em;
	padding-left: 15px;
}

#col-2 p {
	padding-left: 1em;
}

#col-2  ul li {
	border-bottom: 1px solid #96a6b9;
}

#col-2 nav ul li:first-child {
	color: #d4d4d4;
	border-top: 1px solid #96a6b9;
}

#col-2 nav ul li a {
	color: #d4d4d4;
	display: block; 
	text-decoration: none;
	padding: 0.5em 0;
	padding-left: 1em;
}

#col-2  nav li a:focus, 
#col-2  nav li a:hover {
	color: #ffffff;
	background-color: #236841;	
	-webkit-transition:background-color 200ms linear;
	-moz-transition:background-color 200ms linear;
	-o-transition:background-color 200ms linear;
	-ms-transition:background-color 200ms linear;
	transition:background-color 200ms linear;
}

#col-2 nav li.currentpage a {
	font-weight: bold;
}

/* PROPERTIES TO KEEP THE WIDE WIDGETS LOCKED IN PLACE */
.fixed {
	position: fixed;
	width: 20%;
	float: left;
	color: #ffffff;
	background-color: #4c4c4c;
	box-shadow: 10px 9px 5px #CCC;
}

/* PAGE CONTENT SEPERATION */
#col-2 p, 
#content ul{
	margin-bottom: 2.30em;
}

#content li {
	margin-bottom: 0.8em;
}

/* SET THE TABLE BORDER COLOR */
#content table, #content td,#content th,#content caption {
	border: 1px solid #ced6e0;
}

#content td,#content th,#content caption {
	padding: 0.25em 0.5em;
}

#content table {
	width:65%;
	margin-left: auto;
	margin-right: auto;
	margin-top:10px;
	margin-bottom:10px;
	border-collapse: collapse;
	border-spacing: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}

#content td {
	text-align: center;
}

#content th {
	background-color: rgba(35, 104, 65, 0.2);
	color: #236841;
}

/* MAIN GENERIC RESPONSIVE PROPERTY DEFINITIONS */
@media screen and (max-width: 800px){	
	.header-container{
		background-repeat: no-repeat;
		background-position: left top;
	}

	#title{
		margin: 1.75em 0 1.5em 8em;
	}

	#site-page-header h1 { 
		font-size: 3em; 
		text-shadow: 1px 1px 0 #999999;
	}
}

/* SMALL SIZED DISPLAY MONITORS (BIGGER THAN MOBILE) */

@media screen and (max-width: 1420px){	
	ul.top-links-bar{
		float: left;
    	padding-left: 160px;
	}

	.fixed {
		width: 100%;
		position: relative;
	}
	#col-2{
		width: 100%;
		margin-bottom: 10px;
	}

	#col-1 #content{
		width: 100%;
	}

}


@media screen and (max-width: 650px){
	
	.header-container{
		background-repeat: no-repeat;
		background-position: left top;
	}

	#title{
		margin: 1.5em 0 1.5em 6em;
	}

	#site-page-header h1 { 
		font-size: 2.25em; 
	}

	ul.top-links-bar li {
		padding-left: 160px;
		font-size: 0.9em;
	}
}

@media screen and (max-width: 500px){
	#site-page-header h1 { 
		font-size: 2em; 
	}
	.header-container{
		background-repeat: no-repeat;
		background-position: left top;
	}
	#title{
		margin: 0.5em 0 1.5em 4em;
	}
	
	ul.top-links-bar li {		
		font-size: 0.8em;
	}
	
}

@media screen and (max-width: 415px){
	#site-page-header h1 {
		float: left;
		text-shadow: none;
		margin-top: 20px;
	}

	#site-page-header span {
		font-size: .5em;
	}

	.header-container{
		background-repeat: no-repeat;
		background-position: left top;
	}
	#title{
		margin: 0.5em 0 1.5em 4em;
	}
}

@media screen and (max-width: 1020px) {
	#books-showcase{
		padding-left:10px;
	}	
}

@media screen and (max-width: 850px) {	
	#main-page-footer {
		font-size: 0.75em;
	}
}

@media screen and (max-width: 550px) {	
	#main-page-footer ul {
		float: left;
		padding-left: 75px;
	}
}

@media screen and (max-width: 780px) {	
	#page-footer-inner{
		width: 98%;
	}
}

@media screen and (max-width: 900px) { 
	#main-page-footer p {
		float: none;
		padding-left: 90px;
	}
}

@media screen and (max-width: 875px) {
	
	#site-page-header nav {
		float: left;
	}
}

/* REORGANISE THE MAIN SITE ELEMENTS FOR MOBILE VIEW */
@media screen and (max-width: 900px) {   
    /* FIX PADDING ISSUES ON MOBILE VIEW */
	#col-2 {
		width: auto;
	}
	#col-1 #content {
		padding-right: 0px;
		width: auto;
		float: none;
	}

    #navbar-wrap{
		background-color: #ffffff;
		border: 0;
	}

	.fixed {
		position: static;
    	width: 100%;	}
	
	#site-page-header nav li.currentpage a {
		background-color: #ffffff;
		color: #236841;
		border: 1px solid #236841;
	}
   
	#site-page-header nav {
		float: none;
		clear: both;
	}
   
	#site-page-header nav li {
		float: none;
		margin-right: 0;
		margin-bottom: 0.5em;
	}

	#site-page-header nav li a {
		border: 1px solid #236841;
		float: none;		
	}
	
	#site-page-header nav li a:hover:last-child{
		border-right: 0;
	}

	#site-page-header nav li a:hover{
		border: 1px solid #236841;
	}	
}